/* EVERYTHING THAT WILL BE REUSED - BUTTONS, NAVIGATION, BARS, CARDS */
.main__button--el {
  width: 23.125rem;
  height: 5rem;
  color: $font-color-white;
  font-size: 1.5em;
  font-weight: 900;
  text-transform: uppercase;
  background: #FF4343;
  outline: none;
  border: none;
  margin: 5.125rem auto;
}

.tabs__up--el {
  text-align: center;
    .tabs__title {
      padding: 1.5625rem 0 1.5625rem 0;
      font-family: $main-font;
      font-weight: 900;
      font-size: 1.5em;
    }
      .tabs__subtitle{
        font-family: $main-font;
        font-size: 1.125em;
        font-weight: normal;
        color: $font-color-gray;
      }

}