a {
  text-decoration: none;
}

.header__a--nav {
 font-family: $main-font;
 color: white;
 font-weight: 700;
 text-transform: uppercase;
}
header{
 width: 100%;
 background-color: transparent;
 position: absolute;
 z-index: 2;
}
.header__inner{
 max-width: 75rem;
 padding: 0 0.9375rem 0 0.9375rem;
 display: flex;
 margin: 0 auto;
}
.header::after {
 content: "";
 display: block;
 max-width: 73.125rem;
 height: 1px;
 background-color: #BABBC5;
 margin: -1rem auto;
 @media (max-width: 875px){
  display: none;
 }
}
.header__img{
 padding: 1.875rem 0;
 @media (max-width: 875px){
  padding: 1.3369rem 0 0 1.25rem;
 }
}
.header__img:hover{
 cursor: pointer;
}
.header__logo {
 width: 60%;
 @media (max-width: 875px){
  width: 100%;
 }
}
.header__nav {
 display: flex;
 width: 100%;
 @media (max-width: 875px){
  justify-content: flex-end;
 }
 
}
.header__nav--nav{
 width: 100%;
 display: flex;
 justify-content: space-between;
 @media (max-width: 875px){
  display: none;
  flex-direction: column;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0; bottom: 0; left: 0; right: 0;
  z-index: 50;
  overflow-y: auto;
  padding: 50px 40px;
  background-color: black;
  animation: burgerAnimation 0.4s;
  }
}

.header__li{
 font-size: 0.8125rem;
 padding: 2.25rem;
 padding-right: 0;
 padding-left: 0;
 position: relative;

  &::before, &::after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    height: 3px;
    background: #BABBC5;
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }

  &::before { top: 0; }
  &::after { bottom: 0; }

  &:nth-child::before, &:nth-child::after {
   content: '';
   position: absolute;
   top: 0;
   bottom: 0;
   width: 2px;
   background: #333;
   transform: scaleY(0);
   transition: transform 0.3s ease 0.3s; // Добавляем задержку для синхронизации с верхней и нижней границами
  }

  &:nth-child::before { left: 0; }
  &:nth-child::after { right: 0; }

  // Анимация появления границ при наведении
  &:hover {
    &::before, &::after { transform: scaleX(1); }
    &:nth-child::before, &:nth-child::after { transform: scaleY(1); }
  }

}

@media (min-width: 876px) and (max-width: 1250px) {
  ul {
    margin-bottom: 0;
  }
  .header::after {
    max-width: 61.5rem;
    margin: 0 auto;
  }
  .header__inner{
    max-width: 61.5rem;
    padding-left: 0;
  }
  .header__li {
    font-size: 12px;
  }
  .header__logo {
    justify-content: flex-start;
  }
}